.navigation_bar{
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    position: static;
    border-bottom: 1px solid #2D2D2D;
}
.navigation-bar a{
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    padding-left: 40px;
    color: #2D2D2D;
    text-transform: uppercase;
   
}
.logo{
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    color: #2D2D2D;
}